.list{
    padding: 20px;
    background: #eff5f9;
    cursor: pointer;

        .image{
            padding: 10px;
            img{
                width: 100%;
                height: 180px;
                object-fit: cover;
            }
        }

        .details{
            padding: 10px;
            
                .topdetail{
                    color: #afd1e5;
                    font-size: 14px;
                    font-weight: 900;
                }

                .bottomdetail{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                        p{ 
                            font-weight: 900;
                            justify-content: start;
                        }

                        span{
                           color: #e63221;
                           font-size: 14px;
                           font-weight: 900;
                           justify-content: end;
                        }
                }
        }
}

@media (max-width: 375px) {
    .list{
        .details{
            .topdetail{
                font-size: 12px;
            }
            .bottomdetail{
                p{
                    font-size: 14px;
                }
                span{
                    font-size: 12px;
                }
            }
        }
    }
}