.recentlyadded{
    margin-top: 40px;
    h1{
        font-size: 26px;
        font-weight: 900;
        margin-bottom: 20px;
    }

    .products{
        .swiper{
            width: 100%;
            display: grid;
            grid-template-columns: repeat(4, minmax(0, 1fr));
            height: 350px; 
        }
    }
}

@media (max-width: 1024px) {
    .recentlyadded{
        display: none;
    }
}