.featured{
    margin-top: 40px;
    display: flex;
    gap: 30px;
    width: 100%;

        .left{
            flex: 1;
            background: rgb(212,212,212);
            background: linear-gradient(105deg, rgba(212,212,212,1) 0%, rgba(245,245,245,1) 100%);
            height: 250px;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 40px;

                .image{
                    img{
                        height: 150px;
                        width: 200px;
                    }
                }

                

                .details{

                    h1{
                        font-size: 24px;
                        font-weight: 900;
                        width: 250px;
                        line-height: 28px;
                    }

                    p{
                        opacity: .7;
                        font-size: 12px;
                        font-weight: 900;
                        margin-top: 20px;
                    }

                    .prices{
                        display: flex;

                            .newprice{
                                font-size: 30px;
                                font-weight: 900;
                                color: #e63221;
                            }

                            .oldprice{
                                font-size: 12px;
                                font-weight: 900;
                                text-decoration: line-through;
                                opacity: .5;
                                margin-top: 5px;
                            }
                    }
                }
        }
        
        .right{
            flex: 1;
            background: rgb(212,212,212);
            background: linear-gradient(267deg, rgba(212,212,212,1) 0%, rgba(245,245,245,1) 100%);
            height: 250px;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 20px;

                .image{
                    img{
                        height: 200px;
                        width: 300px;
                    }
                }

                .details{
                    margin-left: 90px;
                    h1{
                        font-size: 24px;
                        font-weight: 900;
                        width: 250px;
                        line-height: 28px;
                    }

                    p{
                        opacity: .7;
                        font-size: 12px;
                        font-weight: 900;
                        margin-top: 20px;
                    }

                    .prices{
                        display: flex;

                            .newprice{
                                font-size: 30px;
                                font-weight: 900;
                                color: #e63221;
                            }

                            .oldprice{
                                font-size: 12px;
                                font-weight: 900;
                                text-decoration: line-through;
                                opacity: .5;
                                margin-top: 5px;
                            }
                    }
                }

        }
}

@media (max-width: 1024px) {
    .featured{
        padding: 40px;
        flex-direction: column;
    }
}

@media (max-width: 425px) {
    .featured{
        display: none;
    }
}