.header{
    background: #f3f3f3;
    padding: 10px;

        .content{
            display: flex;
            justify-content: space-between;
            align-items: center;
          

                .left{
                    display: flex;
                    align-items: center;
                    gap: 5px;
                    color: #c4c4c4;
                    font-size: 14px;
                }

                .right{
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    color: #c4c4c4;

                        .drop{
                            display: flex;
                            align-items: center;
                            cursor: pointer;
                        }
                }
        }
}

@media (max-width: 425px){
    .header{
        span{
            font-size: 8px;
        } 
    }
}