.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
   
    .left{
        display: flex;
        align-items: center;
        gap: 20px;

        .hamburger{
          display: none;
        }
        .logo{
          font-size: 36px;
          font-weight: bolder;
          opacity: .9;
        }
    }

    .center{
      display: flex;
      align-items: center;

        input{
          padding: 15px;
          border: 1px solid #f6f6f6;
          outline: none;
          width: 500px;
          color: rgba(0,0,0,.6);
        }

        .cat{
          display: flex;
          align-items: center;
          color: #c4c4c4;
          padding: 15px;
          border: 1px solid #f6f6f6;
          cursor: pointer;
        }

        button{
          background: #17a1fd;
          display: flex;
          justify-content: center;
          align-items: center;
          outline: none;
          padding: 15px;
          border: 1px solid #17a1fd;
        }
    }

    .right{
      display: flex;
      align-items: center;
      gap: 20px;

        .icon{
          display: flex;
          cursor: pointer;
          position: relative;
          font-size: 12px;

            .detail{
              display: flex;
              flex-direction: column;
              padding: 1px;

                .sign{
                  color:#c4c4c4;
                  font-size: 12px;
                }

                .acc{
                  color: rgba(0,0,0,.7);
                  font-size: 14px;
                  font-weight: bold;
                }
            }

            .count{
              position: absolute;
              top: -5px;
              right: -8px;
              background: #e7412f;
              width: 20px;
              height: 20px;
              border-radius: 50%;
              display: flex;
              align-items: center;
              justify-content: center;

                span{
                  color: white;
                  font-size: 12px;
                }
            }
        }
    }

}

@media (max-width: 1024px) {
  .navbar{
    padding: 40px;

    .left{
      .hamburger{
        display: block;
      }
    }
    .center{
      display: none;
    }
  }
}


