.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
   
    .logo{
      font-size: 36px;
      font-weight: bolder;
      opacity: .9;
    }

    .searchbar{
        display: flex;
        align-items: center;
        opacity: .8;

          input{
            padding: 10px;
            border: 1px solid black;
            border-radius: 50px 0 0 50px;
            width: 500px;
            outline: none;
          }

          button{
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 10.5px 16px;
            background: black;
            color: white;
            border: none;
            // width: 80px;
            font-weight: bolder;
            font-size: 14px;
            border-radius: 0px 50px 50px 0px;
          }
    }

    .icons{
      display: flex;
      align-items: center;
      gap: 20px;
      opacity: .7;

       .icon{
        cursor: pointer;
        position: relative;

          .cart{
            position: absolute;
            top: -5px;
            right: -8px;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 20px;
            height: 20px;
            background: #0D7377;
            color: white;
            border-radius: 50%;
            font-size: 12px;
          }
       }
    }
}
