.advert{
    height: 200px;
    width: 100%;
    background: rgb(224,224,224);
    background: linear-gradient(94deg, rgba(224,224,224,1) 0%, rgba(249,229,229,1) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin: 100px 0px;

        .left{
            display: flex;

                .details{
                    
                    h1{
                        font-size: 26px;
                        font-weight:900 ;
                    }
                    p{
                        font-size: 14px;
                        font-weight:900; 
                        opacity: .6;
                    }
                }

                
        }
        .price{
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 10px 40px;
            background: #fed904;
            border-radius: 20px;

                span{
                    font-size: 14px;
                        font-weight:900; 
                        opacity: .6;
                }

                p{
                    font-size: 26px;
                    font-weight:900 ;
                    color: #cb6a00; 
                }
        }

        .right{
                img{
                    width: 450px;
                    height: 300px;
                }
        }
}

@media (max-width: 1024px) {
    .advert{
        padding: 40px;
        .right{
            img{
                width: 300px;
                    height: 200px;
            }
        }
    }
}

@media (max-width: 768px) {
    .advert{

        .left{
            .details{
                h1{
                    font-size: 20px;
                }
                p{
                    font-size: 12px;
                }
            }
           
        }
        .price{
            padding: 10px 30px;
                span{
                    font-size: 12px;
                }

                p{
                    font-size: 20px;

                }
            }
        .right{
            img{
                width: 250px;
                height: 150px;
            }
        }
    }
}


@media (max-width: 425px) {
    .advert{
        height: 150px;
        .left{
            .details{
                h1{
                    font-size: 16px;
                }
                p{
                    font-size: 6px;
                }
            }
           
        }
        .price{
            display: none;
            }
        .right{
            img{
                width: 300px;
                height: 150px;
            }
        }
    }
}


@media (max-width: 325px) {
    .advert{
        height: 150px;
        .right{
            img{
                width: 180px;
                height: 80px;
            }
        }
    }
}