.footer {
   margin-top: 50px;
  
    .top {
      display: grid;
            grid-template-columns: repeat(4, minmax(0, 1fr));
      gap: 50px;
  
      .item {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 10px;
        text-align: justify;
        font-size: 14px;
  
        h1{
          font-size: 18px;
          font-weight: 500;
          color: #555;
        }
  
        span{
          color: gray;
        }
      }
    }
  
    .bottom {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 50px;
      .left {
        display: flex;
        align-items: center;
  
        .logo{
          color: #2879fe;
          font-weight: bold;
          font-size: 24px;
        }
  
        .copyright{
          margin-left: 20px;
          font-size: 12px;
          color: gray;
        }
      }
      .right {
  
        img{
          height: 50px;
        }
      }
    }
  }
  
  @media (max-width: 1024px) {
    .footer{
      padding: 40px;
    }
}
@media (max-width: 425px) {
  .footer{
    .top{

       grid-template-columns: repeat(2, minmax(0, 1fr));
       .item{
        h1{
          font-size: 14px;
        }
        span{
          font-size: 8px;
        }
       }
    }
    .bottom{
      .right{
        display: none;
      }
      .left{
        .logo{
          font-size: 18px;
        }
        .copyright{
          font-size: 10px;
        }
      }
    }
  }
}