.products{
    padding: 30px 50px;
    display: flex;

        .left{
            flex: 1;

            height: 100%;


                .filterItem{
                    margin-bottom: 30px;

                        h2{
                            font-weight: 400;
                            margin-bottom: 20px;
                        }

                        .inputItem{
                            margin-bottom: 10px;

                                label{
                                    margin-left: 10px;
                                }
                        }
                }
        }

        .right{
            flex: 3;
            display: flex;
            flex-direction: column;
            width: 100%;

                .catImg{
                    width: 100%;
                    height: 300px;
                    object-fit: cover;
                    margin-bottom: 50px;
                }

                .categories{
                    display: grid;
                    grid-template-columns: repeat(3, minmax(0, 1fr));
                    gap: 40px;
                }
        }
}

@media (max-width: 425px){
    .products{
        .left{
            h2{
                font-size: 12px;
            }
            .inputItem{
                font-size: 8px;
            }
            .rangeinput{
                width: 100px;
            }
        }
        .right{
            .catImg{
display: none;
            }
            .categories{
                grid-template-columns: repeat(1, minmax(0, 1fr));
            }
        }
    }
}


@media (max-width: 425px){
    .products{
        .left{
            h2{
                font-size: 12px;
            }
            .inputItem{
                font-size: 8px;
            }
            .rangeinput{
                width: 100px;
            }
        }
        .right{
            .catImg{
display: none;
            }
            .categories{
                grid-template-columns: repeat(1, minmax(0, 1fr));
            }
        }
    }
}

@media (max-width: 325px) {
    .products{
        .left{
            display: none;
        }
    }
}